@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.Style1 {
  border-color: hsl(0, 100%, 50%) !important;
  background-color: hwb(300 0% 0%);
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  font-family: "Piazolla", sans-serif;
}

.Style2 {
  border-color: hsl(120, 100%, 50%) !important;
  background-color: rgb(0, 0, 255);
  font-size: 40px;
  font-weight: lighter;
  color: #b8860b;
  font-family: "Ceviche One", sans-serif;
}

.Style3 {
  border-color: rgb(0, 0, 255) !important;
  background-color: #00eeff;
  font-size: 60px;
  font-weight: normal;
  color: coral;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Style4 {
  border-color: aqua !important;
  background-color: hsl(0, 100%, 50%);
  font-size: 55px;
  font-weight: bolder;
  color: #030bf388;
  font-family: Arial, Helvetica, sans-serif;
}

.Style5 {
  border-color: black !important;
  background-color: rgb(255, 255, 0);
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Style6 {
  border-color: slateblue !important;
  background-color: orangered;
  font-size: 50px;
  font-weight: 400;
  color: #00ff00;
  font-family: "Fredoka One", sans-serif;
}

.Style7 {
  border-color: indigo !important;
  background-color: green;
  font-size: 81px;
  font-weight: 500;
  color: gold;
  font-family: "Roboto Slab", serif;
}

.Style8 {
  border-color: #ff00ff !important;
  background-color: #00eeff;
  font-size: 93px;
  font-weight: 300;
  color: #ff0000;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Style9 {
  border-color: #00ff00 !important;
  background-color: #ff00ff;
  font-size: 78px;
  font-weight: 800;
  color: aqua;
  font-family: "Indie Flower", cursive;
}

.Style10 {
  border-color: whitesmoke !important;
  background-color: #000000;
  font-size: 64px;
  font-weight: 200;
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.Style1,
.Style5,
.Style9 {
  text-decoration: underline;
  text-transform: capitalize;
}

.Style2,
.Style6,
.Style10 {
  text-decoration: overline;
  text-transform: lowercase;
}

.Style3,
.Style7 {
  text-decoration: line-through;
  text-transform: uppercase;
}

.Style4,
.Style8 {
  text-decoration: none;
  text-transform: none;
}
